* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

body{
    background-color: #f8f8f8;
    color:#29292e;
    font: 100%
}

.dark{
  background-color: #333;
  color:#f8f8f8 !important;
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif; 
    font: 400 1.6rem 'Roboto', sans-serif;
}


.body-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  transform: scale(5);

  span{
    color:#e5e5e5;
    font-size: 8px;
    font-size: 0.8rem;
  }
  
}

.c-loader {
    position: absolute;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #835afd;
    height: 50px;
    width: 50px;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    z-index: 9999; 
}


@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }